body {
  margin: 0;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: 200px;
}

.text-section {
  max-width: 45%;
}

.text-section h1 {
  font-size: 48px;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
}

.OLD {
  color: #FFFFFF;
  font-weight: 300;
}

.FELLAS {
  color: #B47B43; /* tom dourado/laranja */
  font-weight: bold;
  margin-left: 10px;
}

.welcome {
  color: #ffff;
  font-size: 24px;
  padding-top: 65px;
}

.BemVindo {
  color: #B47B43;

}

p {
  font-size: 24px;
}

.text-section button {
  background-color: #D9D8D8;
  padding: 24px 24px;
  font-weight: bold;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
}

.image-section img {
  width: 1400px;
  height: 1300px;
  max-width: 100%;
}